<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    /* Định dạng cho bảng */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    /* Định dạng hover cho hàng của bảng */
    table.w3-hoverable tbody tr:hover {
        background-color: #f2f2f2;
    }

    /* Định dạng cho tiêu đề cột */
    table th {
        text-align: left;
        padding: 8px;
        font-size: 20px;
    }

    /* Định dạng cho dữ liệu cột */
    table td {
        padding: 8px;
    }

    .table-container {
        padding: 15px 20px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
    </div>

    <div class="table-container">
        <div class="title">List users</div>
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% listUsers.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.city %>
                        </td>
                        <td>
                            <a href="/update/<%= user.id %>">Edit</a>

                            <form action="/delete-user/<%= user.id %>" method="post">
                                <button>Delete</button>
                            </form>

                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>